{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "ios/Classes/**/*.{h,m}": [
    "clang-format -i -style=Google"
  ],
  "ios/Classes/**/*.swift": [
    "swiftlint autocorrect --format"
  ],
  "package.json": [
    "npx fixpack"
  ]
}